<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaniDoc | Agenda tu cita médica</title>
    <link href="{{url_for('static', filename='logo-img.png')}}" rel="icon">
    <link href="{{ url_for('static', filename='tailwind/output.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">


</head>
<body class="m-0" bg>
    <header class="flex bg-blue-200 shadow-md">
        <a href="{{url_for('index')}}"><img class="w-48" src="{{url_for('static', filename='logo-texto.png')}}"></a>
        <nav class="flex flex ml-auto mr-[5vw] gap-[5vw] items-center">
            {% if nombre %}
            <a class="" href="#"><button class="font-semibold rounded p-1 pl-4 pr-4 hover:cursor-pointer hover:bg-blue-300 hover:text-white hover:ease-in-out hover:duration-200">Hola , {{nombre}}</button></a>
            <a href="{{url_for('agendar')}}"><button class="font-semibold rounded p-1 pl-4 pr-4 hover:cursor-pointer hover:bg-blue-300 hover:text-white hover:ease-in-out hover:duration-150">Agendar Hora</button></a>
            <a href="{{url_for('iniciar')}}"><button class="font-semibold rounded p-1 pl-4 pr-4 hover:cursor-pointer hover:bg-blue-300 hover:text-white hover:ease-in-out hover:duration-150">Contacto</button></a>
            <a class="" href="{{url_for('cerrar')}}"><button class="font-semibold rounded p-1 pl-4 pr-4 hover:cursor-pointer hover:bg-blue-300 hover:text-white hover:ease-in-out hover:duration-200">Cerrar sesión</button></a>
            {% else %}
            <a class="" href="{{url_for('iniciar')}}"><button class="font-semibold rounded p-1 pl-4 pr-4 hover:cursor-pointer hover:bg-blue-300 hover:text-white hover:ease-in-out hover:duration-200">Iniciar Sesión</button></a>
            {% endif %}
        
        </nav>
    </header>
    <main>
        <div class="justify-items-center">
            <img class="w-2/6 mt-12 mb-8" src="{{url_for('static', filename='logo3.png')}}">
            <p class="font-raleway font-semibold w-3/6 text-2xl text-center border border-black">En Planidoc facilitamos el agendamiento de tus horas médicas de forma rápida, clara y sin complicaciones. Encuentra a tu especialista, elige el horario que más te acomode y asegura tu atención en pocos pasos. <br><br>
            Porque sabemos que tu tiempo vale, te ayudamos a cuidarlo</style>.</p>
        </div>
    </main>
</body>
</html>