<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{{ url_for('static', filename='tailwind/output.css') }}" rel="stylesheet" />
  <link href="{{url_for('static', filename='logo-img.png')}}" rel="icon">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <title>Registro | PlaniDoc</title>
</head>
<body class="m-0 bg-blue-300">
    <main class="">
      <div id="contenedor-form" class="bg-white mt-[13vh] w-[30vw] h-[74vh] mb-[4vh] rounded-2xl justify-self-center shadow-xl text-center">
        <h1 class="text-3xl font-ubuntu font-medium mt-[9vh] mb-[4vh] text-gray-900 pt-7">Registrate</h1>
        <form method="post" action="">
          <img class="w-[4vw] justify-self-center mb-[7vh]" src="{{url_for('static', filename='logo-img.png')}}">
          <div class="paso justify-items-center transition-all duration-500 ease-in-out opacity-100" id="paso-1">
              <input class="border border-black block w-[22vw] h-[6vh] rounded-3xl mt-[2vh] mb-[3vh] pl-7 text-lg" type="email" placeholder="Dirección de correo electrónico" name="correo" required>
              <input class="border border-black block w-[22vw] h-[6vh] rounded-3xl mb-[5vh] pl-7 text-lg" type="password" placeholder="Contraseña" name="contraseña" required>
              <button onclick="mostrarPaso(2)" class="h-[6vh] w-[10vw] mb-[6vh] rounded-3xl bg-blue-600 text-white font-semibold hover:bg-blue-400 cursor-pointer">Continuar</button>

              <p class="text-lg">¿Ya tienes una cuenta?</p><a class="text-blue-700 hover:underline hover:text-blue-800 text-lg font-medium" href="{{url_for('iniciar')}}">Inicia sesión</a>
          </div>
          <div class="paso hidden justify-items-center transition-all duration-500 ease-in-out opacity-100" id="paso-2">
              <input class="border border-black block w-[22vw] h-[6vh] rounded-3xl mt-[2vh] mb-[3vh] pl-7 text-lg" type="text" placeholder="Nombres" name="nombre" required>
              <input class="border border-black block w-[22vw] h-[6vh] rounded-3xl mb-[5vh] pl-7 text-lg" type="text" placeholder="Apellidos" name="apellidos" required>
              <button onclick="mostrarPaso(3)" class="h-[6vh] w-[10vw] mb-[6vh] rounded-3xl bg-blue-600 text-white font-semibold hover:bg-blue-400 cursor-pointer">Continuar</button>
          </div>
        </form>
      </div>
    </main> 
    <script src="{{ url_for('static', filename='js/registro.js') }}"></script>
</body>
</html>