<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{{ url_for('static', filename='tailwind/output.css') }}" rel="stylesheet" />
  <link href="{{url_for('static', filename='logo-img.png')}}" rel="icon">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <title>Registro | PlaniDoc</title>
</head>
<body class="m-0">
    <main class="">
        <div style="background-image: url('{{url_for('static', filename='bg-registro-1.png') }}');"
        class="bg-cover bg-center h-screen w-full flex items-center justify-center">
        <div id="contenedor-form" class="bg-white w-[30vw] h-[74vh] mb-[4vh] rounded-2xl justify-self-center shadow-xl text-center">
        <h1 class="text-3xl font-ubuntu font-medium mb-[4vh] text-gray-900 pt-7 ">Registrate</h1>
        <form id="formRegistro" method="post" action="">
          <img class="w-[4vw] justify-self-center mb-[7vh]" src="{{url_for('static', filename='logo-img.png')}}">
          <div class="paso justify-items-center transition-all duration-500 ease-in-out opacity-100" id="paso-1">
              <input class="border-2 border-gray-500 block w-[22vw] h-[6vh] rounded-3xl mt-[2vh] mb-[3vh] pl-7 text-lg focus:border-blue-700 focus:outline-none" type="email" placeholder="Dirección de correo electrónico" name="correo" id="correo" required>
              <input class="border-2 border-gray-500 block w-[22vw] h-[6vh] rounded-3xl mb-[5vh] pl-7 text-lg focus:border-blue-700 focus:outline-none" type="password" placeholder="Contraseña" name="contraseña" id="contraseña" required>
              <button id="botonPaso1" disabled onclick="mostrarPaso(2)" class="boton-paso-1 h-[6vh] w-[10vw] mb-[6vh] rounded-3xl bg-blue-600 text-white font-semibold hover:bg-blue-400 cursor-pointer">Continuar</button>

              <p class="text-lg">¿Ya tienes una cuenta?</p><a class="text-blue-700 hover:underline hover:text-blue-800 text-lg font-medium" href="{{url_for('iniciar')}}">Inicia sesión</a>
          </div>
          <div class="paso hidden justify-items-center transition-all duration-500 ease-in-out opacity-100" id="paso-2">

              <input class="border-2 border-gray-500 w-[12vw] h-[6vh] rounded-3xl mt-[2vh] pl-4 text-md focus:border-blue-700 focus:outline-none mr-[1vw]" type="text" placeholder="Nombres" name="nombres" id="nombres" required>

              <input class="border-2 border-gray-500 w-[12vw] h-[6vh] rounded-3xl pl-4 text-md focus:border-blue-700 focus:outline-none" type="text" placeholder="Apellidos" name="apellidos" id="apellidos" required>

              <label for="fecha_nac" class="block text-gray-500 mb-[1vh] mt-[2vh] mr-[15vw]">Fecha de nacimiento</label>
              <input class="block border-2 border-gray-500 w-[16vw] h-[6vh] rounded-3xl mb-[5vh] focus:border-blue-700 focus:outline-none pl-8 pr-8 mt-[1vh] mr-[9vw]" type="date" name="fecha_nac" id="fecha_nac" required>

              <button id="botonPaso2" disabled onclick="mostrarPaso(3)" class="boton-paso-2 h-[6vh] w-[10vw] mb-[6vh] rounded-3xl bg-blue-600 text-white font-semibold hover:bg-blue-400 cursor-pointer">Continuar</button>
          </div>
        </form>
      </div>
      </div>
    </main> 
    <script src="{{ url_for('static', filename='js/registro.js') }}"></script>
</body>
</html>